@use 'src/styles/utils' as *;

.shop-by-category {
  row-gap: 24px;

  @include page-grid;

  &__title {
    grid-column: 1 / -1;
    color: var(--color-text-primary);
  }

  &__categories {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    row-gap: 32px;
  }
}

.category {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 4;
  }

  @include on-desktop {
    grid-column: span 8;
  }

  &__img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    transition: transform $transition-duration-base ease-in-out;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    margin-bottom: 24px;

    &:hover .category__img {
      transform: scale(1.1);
    }
  }


  &__title {
    margin-bottom: 4px;
    color: var(--color-text-primary);
  }

  &__models {
    @extend %text-body;

    color: var(--color-text-secondary);

    &--loading {
      width: 10ch;
      height: 1lh;

      @include skeleton-loader;
    }
  }
}
